<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Школа глубокого обучения ФПМИ МФТИ</b></h3>

<h2 style="text-align: center;"><b>Домашнее задание. Библиотека <a href="http://pandas.pydata.org/">pandas</a></b></h2>

В этом задании вы проанализируете данные из Appstore

<img src="https://drive.google.com/uc?export=view&id=1F1Qajgj-dC4o4VI3Wm7fIGlOJA0a60_B" width=300 height=300>

In [ ]:
#!pip install pandas

In [1]:
import pandas as pd
import numpy as np

### Данные для задания: https://drive.google.com/file/d/1JY8l5nSu9O4GtMDpaOfH2Oowlpza3U-c/view?usp=sharing

In [2]:
data = pd.read_csv('3_HW/BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [3]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [4]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [8]:
# Ваш код здесь
data.Age.value_counts().count()

7

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [8]:
# Ваш код здесь
data.City_Category == "A"

0          True
1          True
2          True
3          True
4         False
          ...
537572    False
537573    False
537574    False
537575    False
537576    False
Name: City_Category, Length: 537577, dtype: bool

In [10]:
data.Gender == "M"

0         False
1         False
2         False
3         False
4          True
          ...
537572     True
537573     True
537574     True
537575     True
537576     True
Name: Gender, Length: 537577, dtype: bool

In [74]:
data[(data.Gender == "M")&(data.City_Category == "A")]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
...,...,...,...,...,...,...,...,...,...,...,...,...
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [81]:
# Ваш код здесь
data[(data.Purchase >= 20000)&(data.Gender == "F")].Age.value_counts()

26-35    1022
36-45     591
18-25     356
51-55     300
46-50     270
55+       164
0-17       77
Name: Age, dtype: int64

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [108]:
# Ваш код здесь
data.Product_Category_3.isnull().value_counts()

True     373299
False    164278
Name: Product_Category_3, dtype: int64

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [152]:
# Ваш код здесь
g=data.groupby(["Gender","Age"])

In [253]:
g.get_group(("M","26-35"))

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
...,...,...,...,...,...,...,...,...,...,...,...,...
537540,1004732,P00124642,M,26-35,14,B,2,1,16,NaN,NaN,16610
537541,1004732,P00051442,M,26-35,14,B,2,1,8,17.0,NaN,9877
537542,1004732,P00085242,M,26-35,14,B,2,1,8,14.0,17.0,10036
537543,1004732,P00117242,M,26-35,14,B,2,1,8,17.0,NaN,7802
537544,1004732,P00093342,M,26-35,14,B,2,1,1,8.0,18.0,11535

In [251]:
g.Age.unique() >= "18-25"

Gender  Age
F       0-17     False
        18-25     True
        26-35     True
        36-45     True
        46-50     True
        51-55     True
        55+       True
M       0-17     False
        18-25     True
        26-35     True
        36-45     True
        46-50     True
        51-55     True
        55+       True
Name: Age, dtype: bool

In [188]:
data[((data.Gender == "M")&(data.Age == "26-35"))|((data.Gender == "F")&(data.Age >= "36-45"))].count()

User_ID                       219181
Product_ID                    219181
Gender                        219181
Age                           219181
Occupation                    219181
City_Category                 219181
Stay_In_Current_City_Years    219181
Marital_Status                219181
Product_Category_1            219181
Product_Category_2            151153
Product_Category_3             67598
Purchase                      219181
dtype: int64

In [196]:
data.count()

User_ID                       537577
Product_ID                    537577
Gender                        537577
Age                           537577
Occupation                    537577
City_Category                 537577
Stay_In_Current_City_Years    537577
Marital_Status                537577
Product_Category_1            537577
Product_Category_2            370591
Product_Category_3            164278
Purchase                      537577
dtype: int64

---

In [197]:
219181/537577

0.4077201963625676

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).